<ion-content padding center text-center>
    <ion-title>App title</ion-title>
    <ion-list>
      <ion-item>
        <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button ion-button full (click)="goLogin()">Log in</ion-button>
    <ion-button ion-button full color="light" (click)="goRegister()">Register</ion-button>
  </ion-content>